{% extends "contact_page/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container green3">
  <div class="w3-content outer-img">
    <div class="w3-twothird">
      <h1>Ceremonias con jengibre.</h1>
      <h5 class="sha-title">
        Las tribus de la amazonia no utilizan el jengibre para comer, utilizan el jengibre en sus ceremonias para
        limpiar la piel. 
      </h5>

      <p class="sha-text">Entre las técnicas chamánicas utilizadas por las tribus de la Amazonia del Ecuador se encuentran las ceremonias y limpiezas con Jengibre. Se prepara el Jengibre y se utiliza para limpiar la piel y realizar meditación chamánica. Conviene realizar estas limpiezas acompañado de un especialista, al menos las primeras veces.</p>
      <p class="sha-text">Se realizan limpiezas y ceremonias con jengibre tal y como las realizan las tribus indígenas desde hace milenios.</p>
    </div>

    <div class="w3-third w3-center">
      <img src="{% static 'img/ginger3.jpg' %}" alt="Ginger" width="300" height="166">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content outer-img">
    <div class="w3-third w3-center w3-hide-small">
      <img src="{% static 'img/tobacco2.jpg' %}" alt="Tobacco" width="300" height="166">
    </div>

    <div class="w3-twothird">
      <h1>Ceremonias con tabaco.</h1>
      <h5 class="sha-title">El tabaco no es una droga, es una planta. La distinción entre plantas y drogas es muy importante. Las plantas están vivas, y las drogas se preparan en una cocina, son recetas.</h5>

      <p class="sha-text">La planta del tabaco es una planta maestra utilizada por las tribus indígenas en sus ceremonias. Existen diferentes tipos de ceremonias en las que las hojas de tabaco se preparan y se utilizan de diferentes maneras. En algunas ocasiones se consume directamente el té de tabaco, y también se utiliza para limpiar la piel y se fuman cigarros de tabaco orgánico en un contexto ceremonial y de meditación chamánica.</p>
      <p class="sha-text">Se ofrecen ceremonias al estilo del chamanismo tabaquero de la Amazonia.</p>
    </div>

    <div class="w3-third w3-center w3-hide-medium w3-hide-large">
      <img src="{% static 'img/tobacco2.jpg' %}" alt="Tobacco" width="300" height="166">
    </div>

  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container green3">
  <div class="w3-content outer-img">
    <div class="w3-twothird">
      <h1>Ceremonias con Ají.</h1>
      <h5 class="sha-title">Las tribus del Amazonia utilizan el ají en sus ceremonias para limpiar los ojos. También se utiliza como condimento en las comidas.</h5>

      <p class="sha-text">Los pimientos picantes, chili o ají se utilizan en las ceremonias chamánicas para morder, limpiar las fosas nasales y limpiar los ojos y realizar meditación chamánica.</p>
      <p class="sha-text">Se realizan ceremonias chamánicas con ají y té de guayusa.</p>
    </div>

    <div class="w3-third w3-center">
      <img src="{% static 'img/aji2.jpg' %}" alt="Aji" width="320" height="178">
    </div>
  </div>
</div>

<!-- Fourth Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content outer-img">
    <div class="w3-third w3-center w3-hide-small">
      <img src="{% static 'img/aya2.jpg' %}" alt="Ayahuasca" width="300" height="166">
    </div>

    <div class="w3-twothird">
      <h1>Ceremonias con Ayahuasca.</h1>
      <h5 class="sha-title">La Ayahuasca no es una droga, es una medicina.</h5>

      <p class="sha-text">La Ayahuasca es una medicina de gran importancia para muchas tribus de la Amazonia. Existen diferentes estilos de preparación en diferentes lugares, pero básicamente consisten en mezclar la madera de Banisteriosis Caapi con hojas de Chakruna y preparar un té espeso que se consume en un contexto de meditación chamánica. la palabra Ayahuasca se utiliza tanto para designar la medicina como para designar a la planta Banisteriosis Caapi, una liana que crece en el bosque de la Amazonia. La Ayahuasca limpia el organismo y puede producir efectos alucinógenos, y conviene siempre tomarla en presencia de un chamán especialista.</p>
      <p class="sha-text">Se realizan ceremonias con Ayahuasca en nuestros centros en la Amazonia del Ecuador. Posibilidad de realizar ceremonias privadas en España.</p>
    </div>

    <div class="w3-third w3-center w3-hide-medium w3-hide-large">
      <img src="{% static 'img/aya2.jpg' %}" alt="Ayahuasca" width="300" height="166">
    </div>

  </div>
</div>

<!-- Fifth Grid -->
<div class="w3-row-padding w3-padding-64 w3-container green3">
  <div class="w3-content outer-img">
    <div class="w3-twothird">
      <h1>Ceremonias con hongos psilocibe.</h1>
      <h5 class="sha-title">Los hongos psilocibe son utilizados por chamanes de diferentes tribus desde hace milenios. Algunos chamanes piensan que este el organismo que alberga el secreto de la comunicación entre especies.</h5>

      <p class="sha-text">Los hongos que contienen psilocibina son una importante medicina chamánica que puede producir efectos alucinógenos. Conviene siempre consumirlos en presencia de un especialista. Esta experiencia psicodélica es una ruta a lo desconocido, un viaje profundo que tiene el poder de revelar verdades ocultas y nuevos niveles de conciencia, y producir el despertar del espíritu a la belleza e interconectividad de todas las cosas.</p>
      <p class="sha-text">Posibilidad de realizar ceremonias privadas con psilocibina.</p>
    </div>

    <div class="w3-third w3-center">
      <img src="{% static 'img/truffles2.jpg' %}" alt="Truffles" width="320" height="300">
    </div>
  </div>
</div>

<div class="w3-container green4 w3-center w3-opacity w3-padding-64">
  <h1 class="w3-margin w3-xlarge text-white">Chamanismo en Madrid</h1><br/>
  <a id="contact" href="{% url 'contact' %}" class="w3-bar-item w3-button w3-padding-large green2-hover text-white">Formulario de contacto</a>
</div>

{% endblock %}