{% extends "contact_page/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container green3">
  <div class="w3-content">
    <div class="w3-container green2 w3-center">
      <p class="sha-text">Si estás interesado en conocer el bosque de la Amazonia y algunas de las tribus que lo habitan, nosotros organizamos viajes al Ecuador para individuos y grupos al centro Kurikindi Kawsay y a otros lugares menos conocidos en el interior de la selva.</p>
      <img class="w3-hide-small" style="margin-bottom:50px;" src="{% static 'img/kk1.jpg' %}" alt="Kurikindi kawsay">
      <img class="w3-hide-medium w3-hide-large" style="margin-bottom:50px;" src="{% static 'img/kk2.jpg' %}" alt="Kurikindi kawsay">
    </div>

    <div class="w3-twothird">
      <h1>Kurikindi kawsay</h1>
      <h5 class="w3-padding-32">El colibrí dorado, la esencia y el equilibrio armonioso de la vida.</h5>

      <p class="sha-text">Kurikindi, el colibrí dorado, nació en el corazón del bosque en la Amazonia del Ecuador, dentro un largo linaje de chamanes que se remonta a miles de años atrás, y comenzó su entrenamiento como chamán a muy temprana edad. Siendo su padre y su madre también chamanes, Kurikindi recibió un trato diferente desde el principio. Se reconoció que él también había nacido con la capacidad de ser un chamán. Nacido con un balance de energías divinas masculina y femenina, pudo sincronizar y desarrollar su esencia claramente, y su conexión con lo divino vino de manera natural. A partir de ahí desarrolló su sabiduría y entendimiento de lo divino y el universo, Pachamana (Madre Tierra) y muchas plantas medicinales.</p>
      <p class="sha-text">Kurikindi enseña a muchos estudiantes de diversos orígenes, impartiendo la sabiduría que le ha llevado cuatro décadas adquirir mientras viajaba alrededor del mundo impartiendo numerosos talleres y asistiendo a numerosos retiros y eventos. Conocido globalmente y respetado como uno de nuestros mayores, Kurikindi es una figura prominente dentro de la Mother Earth Delegation of the United Original Nations. En este rol comparte sus visiones, y el conocimiento y la sabiduría que irradia de su corazón para apoyar la unidad de los seres humanos de todas las naciones y traer a este mundo una vida mejor y equilibrio al mundo.</p>
      <p class="sha-text">Con la dedicación y el compromiso de toda una vida a su camino y a la humanidad, Kurikindi aporta una sabiduría pura y antigua, siendo el amor, la compasión y el perdón los fundamentos de su trabajo.</p>
      <p class="sha-text">El trabajo de Kurikindi ha transformado la vida de muchas personas y para continuar con su servicio a lo divino, nació la visión del proyecto Kurikindi Kawsay. El proyecto tiene como objetivo mejorar tu mente, tu cuerpo, tu espíritu y tu conexión con lo divino. A través del proceso de limpieza con plantas sagradas, sabiduría que se ha transmitido a través de muchas generaciones, se creará un espacio para que puedas reconectar con tu esencia divina, fortaleciendo tu ser mental, físico y energético. Nuestros ancianos nos dejaron un gran legado. Ahora es tiempo de preguntarnos qué base dejaremos nosotros para las generaciones futuras.</p>
    </div>

    <div class="w3-third w3-center">
      <img style="margin-left:20px" src="{% static 'img/kurikindi4.jpg' %}" alt="Rock painting - shaman">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div>
      <h1>Tu estancia en el centro</h1>
      <h5 class="w3-padding-32">El itinerario de tu visita se establece de manera orgánica y fluida, lo que permite flexibilidad para una experiencia más personalizada. Habrá una combinación de ceremonias de limpieza, aprendizaje expansivo a través de sesiones grupales e individuales, y también tiempo para relajarse y simplemente disfrutar de los alrededores de la selva tropical.</h5>

      <p class="sha-text">Asegúrate de que te sientes capaz de emprender este viaje tanto emocional como físicamente. Recomendamos meditar antes de embarcarse en esta experiencia.</p>
    </div>
  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container green3">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Preparando el viaje</h1>
      <h5 class="w3-padding-32">Si quieres viajar a la Amazonia no dudes en utilizar nuestro formulario de contacto. Nosotros te guiaremos y nos ocuparemos de todos los detalles, transportes y alojamiento. Podemos recomendar algunos lugares de confianza para tu estancia en Quito. También puedes viajar con uno de nuestros guías.</h5>

      <p class="sha-text"><b>EL HOTEL CAYMAN</b><br/> ofrece cómodas habitaciones a buen precio. Es un hotel pequeño con jardín situado cerca del centro turístico. Barato, cómodo y amigable.</p>
      <p class="sha-text"><b>HOTEL QUITO</b><br/> es un hotel grande, con piscina climatizada, jacuzzi, sauna, gimnasio y un restaurante en el tejado. Es muy amigable para su gran tamaño, el personal es muy amable y no les importa que lleguen personas de la Amazonia con las botas sucias!</p>
      <p class="sha-text"><b>AIRBNB</b><br/> si utilizas como referencia para buscar las calles de Quito "Gonzales Suarez" o "Pasaje Stubel" estarás cerca del hotel Quito y del hotel Cayman en una buena zona, y tranquila.</p>
      <p class="sha-text"><b>LA CASA DE SISA</b><br/> Kurikindi trabaja muy de cerca con su hermana Sisa, que también es chamán originaria de la Amazonia. Ella aporta su fortaleza y la sabiduría de trabajar con tabaco, el conocimiento de muchas plantas de la Amazonia y sus habilidades visionarias dentro y fuera del espacio ceremonial. Sisa puede ofrecer alojamiento para 5 personas.</p>
      <p class="sha-text">En Quito existe un servicio de autobuses razonablemente bueno, pero para una estancia corta recomendamos utilizar taxis ya que son bastante baratos. Nosotros nos ocuparemos del transporte a Puyo, 5 horas por carretera, para llegar al centro Kurikindi Kawsay.</p>
    </div>

    <div class="w3-third w3-center">
      <img style="margin-left:20px" src="{% static 'img/ksisa2.jpg' %}" alt="Rock painting - shaman">
    </div>
  </div>
</div>

<!-- Fourth Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div>
      <p class="sha-text">En Quito existe un servicio de autobuses razonablemente bueno, pero para una estancia corta recomendamos utilizar taxis ya que son bastante baratos. Nosotros nos ocuparemos del transporte a Puyo, 5 horas por carretera, para llegar al centro Kurikindi Kawsay.</p>
    </div>
  </div>
</div>

<!-- Fifth Grid -->
<div class="w3-row-padding w3-padding-64 w3-container green3">
  <div class="w3-content">
    <div>
      <h1>Alojamiento en la selva, actividades e instalaciones</h1>
      <h5 class="w3-padding-32">El centro Kurikindi Kawsay consta de diez preciosas cabañas naturales con baño y ducha. También hay servicio de lavandería.</h5>

      <p class="sha-text"><b>Día 1</b>
        <ul class="sha-text">
          <li>Llegada a la casa de Sisa a las 9am</li>
          <li>Viaje a Puyo en taxi o minibus para llegar al centro Kurikindi Kawsay</li>
          <li>Reunión de bienvenida</li>
          <li>Limpieza con ají para prepararnos de una manera limpia</li>
        </ul>
      </p>
      <p class="sha-text"><b>Día 2</b>
        <ul class="sha-text">
          <li>Ceremonia matutina de Guayusa</li>
          <li>Integración, explorar y aprender más sobre el centro Kurikindi Kawsay</li>
          <li>Limpieza con genjibre y ají al mediodía</li>
          <li>Ceremonia de Ayahuasca</li>
        </ul>
      </p>
      <p class="sha-text"><b>Día 3</b>
        <ul class="sha-text">
          <li>Ceremonia matutina de Guayusa</li>
          <li>Limpieza con ají y fumando tabaco sagrado</li>
          <li>Ceremonia de Ayahuasca</li>
        </ul>
      </p>
      <p class="sha-text"><b>Día 4</b>
        <ul class="sha-text">
          <li>Excursión matutina a la cascada y a la fábrica de chocolate comunitaria</li>
          <li>Descanso por la tarde</li>
          <li>Círculo de integración</li>
        </ul>
      </p>
      <p class="sha-text"><b>Día 5</b>
        <ul class="sha-text">
          <li>Ceremonia de tabaco con agua</li>
          <li>Limpieza con ají</li>
          <li>Círculo de integración por la tarde</li>
        </ul>
      </p>
      <p class="sha-text"><b>Día 6</b>
        <ul class="sha-text">
          <li>Ceremonia matutina de Guayusa</li>
          <li>Conexión con la Madre Tierra al mediodía</li>
          <li>Ceremonia de Ayahuasca</li>
        </ul>
      </p>
      <p class="sha-text"><b>Día 7</b>
        <ul class="sha-text">
          <li>Ceremonia del tabaco de piedra madre</li>
          <li>Limpieza con baños de plantas medicinales</li>
        </ul>
      </p>
      <p class="sha-text"><b>Día 8</b>
        <ul class="sha-text">
          <li>Medicina matutina de ají y práctica para ser un guerrero</li>
          <li>Descanso y meditación por la tarde en preparación de la ceremonia de Ayahuasca</li>
          <li>Ceremonia de Ayahuasca</li>
        </ul>
      </p>
      <p class="sha-text"><b>Día 9</b>
        <ul class="sha-text">
          <li>Visita a la comunidad local</li>
          <li>Limpieza con genjibre y ají por la tarde</li>
        </ul>
      </p>
      <p class="sha-text"><b>Día 10</b>
        <ul class="sha-text">
          <li>Ceremonia matutina de guayusa</li>
          <li>Preparación para la vuelta de Puyo a Quito</li>
        </ul>
      </p>
    </div>

  </div>
</div>

<!-- Sixth Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-seedling fa-10x w3-padding-64 text-green1 w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <p class="sha-text">Estamos desarrollando nuestras instalaciones, así que si tienes sugerencias o ideas que puedan ayudar a su mejora, por favor déjanos saber.</p>
      <p class="sha-text">Por favor, escoge productos orgánicos y respetuosos con el bosque. Escoge ropa clara si es posible, ya que los colores oscuros atraen más a los insectos. La ropa deportiva y las camisetas transpiran mejor y secan antes en el clima húmedo.</p>
    </div>
  </div>
</div>


<!-- Seventh Grid -->
<div class="w3-row-padding w3-padding-64 w3-container green3">
  <div class="w3-content">
    <div class="w3-center">
      <p class="sha-text">También organizamos experiencias en complejos de cabañas donde viven familias indígenas si estás interesado en introducirte más adentro de la selva en barca a través de los ríos y conocer más acerca de su manera de vivir.</p>
    </div>
  </div>
</div>

<div class="w3-container green4 w3-center w3-opacity w3-padding-64">
  <h1 class="w3-margin w3-xlarge text-white">Pagarachu - Gracias</h1><br/>
  <h1 class="w3-margin w3-xlarge text-white">Chamanismo en Madrid</h1><br/>
  <a id="contact" href="{% url 'contact' %}" class="w3-bar-item w3-button w3-padding-large green2-hover text-white">Formulario de contacto</a>

</div>

{% endblock %}