{% extends "contact_page/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container green3">
  <div class="w3-content outer-img">
    <div class="w3-twothird">
      <h1>La senda del chaman</h1>
      <h5 class="w3-padding-32">El chamanismo es la institución más antigua de la humanidad, y consiste en una serie de técnicas para establecer una relación con la flora y fauna locales.</h5>

      <p class="sha-text">El chamán es el especialista que representa, en el principio de la historia de la humanidad, la figura del técnico, del médico y del artista. Esto sigue siendo así hoy en día en las sociedades tradicionales del bosque de la Amazonia, Méjico y otros lugares, que no han sufrido el proceso histórico ni las guerras entre imperios de las que son herederos las tribus europeas. Muchas pinturas rupestres de las grandes cavernas de Altamira, Font de Gaumc, Les Trois Fréres y otras, algunas con más de 9000 años de antigüedad, exhiben motivos con chamanes y con hongos brotando de sus cuerpos y en sus manos.</p>
    </div>

    <div class="w3-third w3-center">
      <img src="{% static 'img/mushman2.jpg' %}" alt="Rock painting - shaman">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content outer-img">
    <div class="w3-third w3-center w3-hide-small">
      <img src="{% static 'img/psy2.jpg' %}" alt="Psychedelic image">
    </div>

    <div class="w3-twothird">
      <h1>Crisis de iniciación</h1>
      <h5 class="w3-padding-32">El chamanismo es también un proceso.</h5>

      <p class="sha-text">El contacto los alucinógenos chamánicos como los hongos psilocibe o la Ayahuasca puede marcar el inicio de este proceso, conocido y experimentado por los chamanes desde tiempos muy antiguos. El comienzo de la trayectoria de un chamán puede estar marcado por una grave perturbación emocional y psicosomática. La crisis de iniciación al chamanismo consiste en un período de tiempo que puede durar semanas, meses o incluso varios años, durante el cual el chamán aprendiz puede entrar en contacto con espíritus animales y vegetales, experimentar estados alterados de conciencia y atravesar grandes dificultades en su vida que lo pueden llevar cerca de la muerte. Esta parte del proceso es muy importante para ayudar al chamán a encontrar una conexión personal con la naturaleza.</p>
    </div>

    <div class="w3-third w3-center w3-hide-medium w3-hide-large">
      <img src="{% static 'img/psy2.jpg' %}" alt="Psychedelic image">
    </div>

  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container green3">
  <div class="w3-content outer-img">
    <div class="w3-twothird">
      <h1>La enfermedad del chaman</h1>
      <h5 class="w3-padding-32">En su mayoría los expertos de occidente coinciden en señalar que la crisis de iniciación al chamanismo es una enfermedad grave.</h5>

      <p class="sha-text">Se hace referencia generalmente a la esquizofrenia u otras patologías por parte de muchos psiquiatras. Sin embargo, los antropólogos y psiquiatras que están familiarizados con el chamanismo afirman que este acercamiento clínico refleja simplemente la preferencia occidental por una realidad consensuada, la falta de comprensión y experiencia sobre los estados alterados de conciencia y una fuerte tendencia a patologizar estos estados indiscriminadamente.</p>
    </div>

    <div class="w3-third w3-center">
      <img src="{% static 'img/twots2.jpg' %}" alt="The way of the shaman - Michael Harner">
    </div>
  </div>
</div>

<!-- Fourth Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content outer-img">
    <div class="w3-third w3-center w3-hide-small">
      <img src="{% static 'img/kurikindi2.jpg' %}" alt="Kurikindi - the golden hummingbird">
      <img src="{% static 'img/kazumi2.jpg' %}" alt="Kazumi Ohishi" style="margin-top:10px">
    </div>

    <div class="w3-twothird">
      <h1>Los guías</h1>
      <h5 class="w3-padding-32">Aprendices y maestros.</h5>

      <p class="sha-text">Durante este período de tiempo el chamán puede conocer a otros chamanes que le ayuden a superar las dificultades y le enseñen diferentes técnicas utilizadas por diferentes tribus para acceder a estados alterados de conciencia y navegar por ellos, canciones mágicas o ícaros, y le ayuden a corregir la dieta y limpiar el organismo utilizando plantas maestras y medicinas naturales, y le ayuden a aprender y a distinguir algunas verdades sobre las diferencias entre la realidad natural del ser humano y las convenciones culturales establecidas en diferentes lugares. Durante este período el chamán puede viajar a la Amazonia y entrar en contacto con sociedades tradicionales y otras tribus.</p>
    </div>

    <div class="w3-third w3-center w3-hide-medium w3-hide-large">
      <img src="{% static 'img/kurikindi2.jpg' %}" alt="Kurikindi - the golden hummingbird">
      <img src="{% static 'img/kazumi2.jpg' %}" alt="Kazumi Ohishi" style="margin-top:10px">
    </div>

  </div>
</div>

<!-- Fifth Grid -->
<div class="w3-row-padding w3-padding-64 w3-container green3">
  <div class="w3-content outer-img">
    <div class="w3-twothird">
      <h1>La teoría del primate colocado</h1>
      <h5 class="w3-padding-32">Algunos chamanes consideran que es posible que el contacto de los primates con las plantas maestras y los hongos psilocibe sea la causa de la aparición del lenguaje en los seres humanos, debido a los efectos que éstos producen, entre los cuales se encuentra la glosolalia, la generación espontánea de fonemas sin un significado consensuado. Algunas religiones se apropian este fenómeno de "hablar en lenguas", pero es más antiguo, es chamánico.</h5>

      <p class="sha-text">Se hace referencia generalmente a la esquizofrenia u otras patologías por parte de muchos psiquiatras. Sin embargo, los antropólogos y psiquiatras que están familiarizados con el chamanismo afirman que este acercamiento clínico refleja simplemente la preferencia occidental por una realidad consensuada, la falta de comprensión y experiencia sobre los estados alterados de conciencia y una fuerte tendencia a patologizar estos estados indiscriminadamente.</p>
    </div>

    <div class="w3-third w3-center">
      <img src="{% static 'img/mush2.jpg' %}" alt="Psilocybin mushrooms">
    </div>
  </div>
</div>

<!-- Sixth Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content outer-img">
    <div class="w3-third w3-center w3-hide-small">
      <i class="fa fa-seedling fa-10x w3-padding-64 text-green1 w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <p class="sha-text">El proceso chamánico ayuda al chamán a recuperar una conexión con la naturaleza y a encontrar el balance. Algunas sociedades en este planeta aún viven en comunión con la naturaleza y nosotros podemos aprender de ellas para aumentar nuestra conciencia e intentar sanar a la sociedad occidental.</p>
    </div>

    <div class="w3-third w3-center w3-hide-medium w3-hide-large">
      <i class="fa fa-seedling fa-10x w3-padding-64 text-green1 w3-margin-right"></i>
    </div>

  </div>
</div>

<div class="w3-container green4 w3-center w3-opacity w3-padding-64">
  <h1 class="w3-margin w3-xlarge text-white">Chamanismo en Madrid</h1><br/>
  <a id="contact" href="{% url 'contact' %}" class="w3-bar-item w3-button w3-padding-large green2-hover text-white">Formulario de contacto</a>
</div>

{% endblock %}