header{background: url("/static/img/forest11.jpg") 50% 0 no-repeat fixed}
h1{font-size:3em}
h5{font-size:1.7em}
#sha-menu{display:inline-block}
#toggle-menu-link{text-align:right;display:block;}
.space-30{height:100px}
.green1{background-color:#75895d!important}
.green2-hover:hover{background-color:#aac197!important}
.green3{background-color:#aac197}
.green4{background-color:#0a521d}
.green4-hover:hover{background-color:#0a521d!important}
.text-green1{color:#75895d}
.text-black{color:#000}
.text-white{color:#ffffff}
.sha-title{font-size:1.7em}
.sha-text{font-size:1.5em}
.w3-padding-large{font-size:22px}
.w3-jumbo{font-size:calc(3em + 1vw)!important}
.w3-xlarge{font-size:40px!important}
.outer-img{display:flex;align-items:center;flex-wrap:wrap;}
